{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <a href="/musicMetrics">Музыкальные характеристики</a>
    <a href="/experiment">Эксперименты</a>
{% endblock %}
