{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <div style="text-align: center; padding-top: 20%">
        <a href="{{ path('music_metrics') }}" class="double-border-button">Музыкальные характеристики</a> <br>
        <a href="{{ path('experiment') }}" class="double-border-button">Эксперименты</a>
    </div>
{% endblock %}
